* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

.container {
  margin: 0 auto;
  width: 80%;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.nav {
  background-color: #f4f7fb;
}

.nav__container {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.nav__center {
  cursor: pointer;
}
.nav__center ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.nav__center ul li {
  padding: 1.5em;
}
.nav__center ul li a {
  color: #000;
}
.nav__center ul li:hover {
  background-color: #eea539;
}
.nav__center ul li:hover a {
  color: #fff;
}
.nav__right {
  cursor: pointer;
}
.nav__right ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.nav__right ul li {
  padding: 2em;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 3em;
}
.hero__container h1 {
  font-size: 5rem;
}
.hero__left--orange {
  color: #eea539;
}
.hero__left__search {
  border: 1px solid black;
  border-radius: 7px;
  padding-left: 1em;
  margin: 3em 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.hero__left__search form {
  width: 100%;
  font-size: 0;
}
.hero__left__search form input[type=text] {
  width: 80%;
}
.hero__left__search form button {
  width: 20%;
  padding: 3em 0;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  background-color: #000;
  color: #fff;
}
.hero__left__stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 3em 0;
}
.hero__left__stats__gray {
  background-color: #f4f7fb;
  padding: 2em;
  text-align: center;
}
.hero__left__stats__gray img {
  margin-bottom: 3em;
  background-color: #000;
  border-radius: 50%;
  width: 4vw;
  padding: 1em;
}
.hero__left, .hero__right {
  flex: 1;
}
.hero input {
  border: none;
  outline: none;
  padding: 3em;
}
.hero__right {
  text-align: center;
}
.hero__right__small {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.hero__right__small img {
  width: 200px;
  height: 200px;
}

.menu__container p {
  text-align: center;
}
.menu__container h2 {
  font-size: 2rem;
  text-align: center;
}
.menu__container--orange {
  color: #eea539;
}
.menu__container ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.menu__container ul li {
  padding: 2em 0;
}
.menu__container ul li:first-child {
  border-bottom: 5px solid #eea539;
}
.menu__types {
  margin-top: 8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  text-align: center;
  line-height: 2;
}
.menu__types img {
  width: 300px;
  height: 300px;
  margin-top: -10em;
}
.menu__types--gray {
  background-color: #f4f7fb;
  margin: 3em;
  padding: 1.5em;
}
.menu__types button {
  background-color: #000;
  color: #fff;
  padding: 1em;
  width: 200px;
  margin-bottom: -3.5em;
}
.menu__btn {
  background-color: #eea539;
  color: #fff;
  padding: 1em;
  width: 200px;
  font-size: 1rem;
  border-radius: 6px;
  border: none;
  display: block;
  margin: auto;
  margin-top: 2em;
}

.why-us {
  margin: 10em 0;
}
.why-us__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}
.why-us__container--orange {
  color: #eea539;
}
.why-us__right {
  flex: 1;
}
.why-us__right h2 {
  margin: 1em 0;
}
.why-us__left {
  height: 100%;
  flex: 1;
  background: url("../../images/why-us.png") no-repeat center center/cover;
}
.why-us__cards {
  background-color: #f4f7fb;
  padding: 2em;
  margin-top: 2em;
}

.cards__container {
  background-color: #fff;
  margin: 3em;
  padding: 3em;
  border-radius: 6px;
  gap: 2em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.cards__container__img {
  border-radius: 50%;
  background-color: #000;
  width: 5vw;
  padding: 1em;
}

.help--orange {
  color: #eea539;
}