@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;
.hero {
  &__container {
    @include flex(space-between, center);
    gap: 3em;

    h1 {
      font-size: 5rem;
    }
  }

  &__left {
    margin-top: 2em;
    &--orange {
      color: $orange;
    }
    &__search {
      border: 3px solid $light-gray;
      border-radius: 7px;
      padding-left: 1em;
      margin: 3em 0;
      outline: none;

      @include flex(flex-start, center);

      form {
        width: 100%;
        font-size: 0;
    
        input[type="text"] {
          width: 80%;
          
          
        }
        button {
          width: 20%;
          padding: 3em 0;
          border-top-right-radius: 7px;
          border-bottom-right-radius: 7px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          border: none;
          background-color: $black;
          color: $white;
        }
      }
    }
    &__stats {
      @include flex(space-between, center);
      margin: 3em 0;

      &__gray {
        background-color: $light-gray;
        padding: 2em;
        text-align: center;
        img {
          margin-bottom: 3em;
          background-color: $black;
          border-radius: 50%;
          width: 4vw;
          padding: 1em;
        }
      }
    }
  }

  &__left,
  &__right {
    flex: 1;
  }
  input {
    border: none;
    outline: none;
    padding: 3em;
  }
  &__right {
    text-align: center;
    

    &__small {
      @include flex(center, center);
      gap: 1em;
      

      img {
        width: 150px;
        height: 150px;
      }
    }
  }
}
