@use "../utilities/mixins" as *;
@use "../utilities/variables" as *;
.hero {
  &__container {
    @include flex(space-between, center);
    gap: 3em;

    h1 {
      font-size: 5rem;
    }
  }

  &__left {
    &--orange {
      color: $orange;
    }
    &__search {
      border: 1px solid black;
      border-radius: 7px;
      padding-left: 1em;

      @include flex(flex-start, center);

      form {
        width: 100%;
        input[type="text"]{
            width: 80%;
        }
        button{
            width: 10%;
            padding: 3em;
        }
      }
    }
  }

  &__left,
  &__right {
    flex: 1;
  }
  input {
    border: none;
    outline: none;
    padding: 3em;
  }
}
